
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.watch-section {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 40px;
  width: 80%;
  max-width: 1200px;
}

.watch-image {
  width: 250px;
  height: auto;
  margin-right: 20px; 
  flex-shrink: 0; 
  border: 3px solid #fff;
}

.text-content {
  max-width: 600px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
}



.about {
    margin-top: 100px; 
    padding: 20px;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.about p {
    font-size: 1rem;
    line-height: 1.6;
}
