
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.watch-section {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 40px;
    width: 80%;
    max-width: 1200px;
    flex-direction: row; 
  }
  
  .watch-section-1 {
    display: flex;
    align-items: center;
    text-align: right;
    margin-bottom: 40px;
    width: 250%;
    max-width: 1520px;
    flex-direction: row-reverse;
  }
  .watch-section-2 {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 40px;
    width: 80%;
    max-width: 1200px;
    flex-direction: row; 
  }
  
  .watch-image {
    width: 600px;
    height: auto;
    margin: 0 50px; 
    flex-shrink: 0; 
    border: 3px solid #fff;
  }
  
  .text-content {
    max-width: 1000px;
  }  

h2 {
  font-size: 29px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
    position: absolute; 
    bottom: 10; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px;
    color: white;
    z-index: 10; 
}

.about {
    margin-top: 100px; 
    padding: 200px;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.about p {
    font-size: 1rem;
    line-height: 1.6;
}
